#about{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5rem;
}
.about_container{
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(2, 35% 60%);
    gap: 2rem;
    width: 60%;
}
.about_me{
    display: flex;
    /* background: #fff; */
    text-align: center;
}
.about_me img{
    width: 100%;
    border-radius: 1rem;
}
.about_content{
    padding-top: 1rem;
}
.phrase{
    margin-top: 3rem;
    text-align: end;
}