nav{
    z-index: 1;
    transform: translateX(-50%);
    left: 50%;
    background: rgba(0, 0, 0 , .5);
    position: fixed;
    bottom: 1rem;
    border-radius: 1rem;
}
nav a{
    font-size: 2rem;
    padding: 0 2rem;
    border-radius: 1rem;
    color: #fff;
}
nav a:hover{
    background: rgba(255, 255, 255, 0.2);
}
nav .active{
    color: var(--color-primary-variant);
}
@media screen and (max-width:1024px ) {
    nav{
        display: flex;
        justify-content: space-between;
        width: 20rem;
    }
    nav a{
        font-size: 2rem;
        padding: 0 1rem;
    }
    
}