nav{
    background: rgba(0, 0, 0 , .5);
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 1rem;
    transform: translateX(-50%);
    border-radius: 1rem;
}
nav a{
    font-size: 2rem;
    padding: 0 2rem;
    border-radius: 1rem;
    color: #fff;
}
nav a:hover{
    background: rgba(255, 255, 255, 0.2);
}
nav .active{
    color: var(--color-primary-variant);
}
@media screen and (max-width:600px ) {

    nav a{
        font-size: 1.6rem;
    }
    
}