nav{
    background: rgba(0, 0, 0 , .3);
    width: max-content;
    display: flex;
    display: block;
    position: fixed;
    z-index: 2;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);
    border-radius: 3rem;
}
nav a{
    height: 100%;
    width: 100%;
    font-size: 2rem;
    /* padding: 1rem; */
    margin: 2rem;
    color: var(--color-primary-variant);
    border-radius: 50%;
}
nav a:hover{
    width: max-content;
    background: rgba(0, 0, 0, .3);
}
a .active{
    background: red ;
}
@media screen and (max-width:600px ) {

    nav a{
        font-size: 1.6rem;
        margin: 1.5rem;
    }
    
}